{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span><a href="http://http://beian.miit.gov.cn/" target="_blank" rel="noopener">苏ICP备20010028号</a></span>
    
    </p>

    <p class="m-footer-copyright">
      <span>{{t "Published with"}} <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></span>
      <span>&nbsp; &bull; &nbsp;</span>
      <a href="{{asset "html/javascript.html"}}" rel="jslicense">{{t "JavaScript License"}}</a>
    </p>
  </div>
</footer>
